//Tropical
//$color-green: #00A19D;
//$color-red: #E05D5D;
//$color-orange: #FFB344;
//$color-yellow: #FFF8E5;
//$color-grey: #171717;

// Hot pink and teal
$color-green: #08D9D6;
$color-red: #FF2E63;
$color-white: #EAEAEA;
$color-grey: #171717;
