html, body {
  background-color: $color-grey;
  font-size: 1rem;
}

* {
  //font-family: system-ui, -apple-system, BlinkMacSystemFont;
  font-family: "Operator Mono", Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: $color-white;
}

h1, h2, h3, h4, h5 {
  font-family: "Operator Mono", Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: $color-red;
}

a {
  color: $color-green;
}

input, select, textarea {
  color: $color-grey;
}
