@use '../base/colors' as *;

button,
input[type="submit"],
.button {
  background-color: $color-green;
  color: $color-grey;
  border: 1px solid $color-green;
  border-radius: 3px;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: transparent;
    color: $color-green;
  }
}

input[type="reset"],
.button--secondary {
  background-color: transparent;
  color: rgba($color-white, 0.7);
  border: 1px solid rgba($color-white, 0.3);
  border-radius: 3px;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  cursor: pointer;

  &:hover {
    border-color: $color-white;
    color: $color-white;
  }
}
