header {
  text-align: center;
  margin-bottom: $section-margin-bottom;
  #block-indie-branding {
    a.site-name {
      font-size: 2rem;
      margin-bottom: $section-margin-bottom;
      display: inline-block;
    }
  }
}
